@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  font-family: var(--font-body);
}

h1 {
  font-size: 3.815em;
  line-height: 1.2;
}

h2 {
  font-size: 3.052em;
  line-height: 1.3;
}

h3 {
  font-size: 2.441em;
  line-height: 1.5;
}

h4 {
  font-size: 1.953em;
  font-weight: normal;
}

h5 {
  font-size: 1.563em;
}

h6 {
  font-size: 1.25em;
}

p {
  font-size: 1em;
}


@media (min-width: 1281px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 8px;
  }
}